
.top-section {
        width: 100%;
        @include center-element;
        flex-direction: column;
        background-color: $color-secondary-light;
        z-index: 1;
    }

.location {
    width: 100%;
    height: 4.6rem;
    @include center-element;
    color: $color-black;
    background: linear-gradient(rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.05));
    padding-right: 3.8rem;

    &__icon {
        margin-right: 1.2rem;
        font-size: 1.5rem;
    }

    &__text {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.exploration-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include center-element;
    flex-direction: column;
    padding: 3.4rem 2rem 4rem 2rem;

    &__heading {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.5rem;
        color: $color-grey-dark-1;
        margin-bottom: 2.4rem;
        text-align: center;
    }
}

.navigation {
    width: 100%;
    padding: 4rem 2rem;

    &__list {
        list-style: none;
        margin-top: 2rem;
        @include center-element;
        flex-direction: column;
    }

    &__item {
        width: 96%;
        height: 6rem;
        background-color: $color-secondary-light;
        margin-bottom: 1.6rem;
        border-radius: 1.4rem;
        @include center-element;
        justify-content: flex-start;

        &:hover {
            background-color: $secondary-color-light-2;
        }

        &:hover &-icon {
            color: $primary-color;
        }
    }

    &__circle {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        background-color: $primary-color;
        color: $color-white;
        @include center-element;
        font-size: 1.3rem;
        transform: translateX(-50%);
    }

    &__icon {
        font-size: 1.6rem;
        color: $color-grey-dark-1;
        margin-left: 1rem;
    }

    &__text {
        font-size: 1.5rem;
        color: $color-black;
        font-weight: 900;
        margin-left: 2rem;
    }
}

.restaurants {
    width: 100%;
    padding: 4rem 2rem;
    background-color: $color-secondary-light;
    @include center-element;
    flex-direction: column;

    &__heading {
        align-self: flex-start;
        margin-bottom: 2rem;
    }
}

.cards-list {
    width: 96%;
    display: grid;
    grid-template-rows: repeat(4, 38vh);
    grid-gap: 2rem;
}

.card {
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1.4rem;

    &-box {
        width: 100%;
        height: 70%;
        overflow: hidden;
        position: relative;

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 10;

            &--1 {
                object-position: right bottom;
            }

            &--2 {
                object-position: center 62%;
            }

            &--3 {
                object-position: 70% bottom;
                transform: scale(1);
            }

            &--4 {
                object-position: center bottom;
            }

            &-text {
                position: absolute;
                right: 1.2rem;
                top: 1.2rem;
                background-color: $tertiary-color;
                color: $color-green;
                font-size: 1.4rem;
                font-weight: 700;
                padding: .7rem 1rem;
                border-radius: .4rem;
                z-index: 100;

                &--3,
                &--4 {
                    display: none;
                }
            }
        }
    }

    &-caption {
        background-color: $color-white;
        width: 100%;
        height: 30%;
        display: grid;
        grid-template-columns: 4% 78% 18%;
        grid-template-rows: repeat(4, 1fr);

        &__heading {
            color: $color-black;
            grid-row: 2/3;
            grid-column: 2/3;
        }

        &__text {
            color: $color-black;
            font-size: 1.6rem;
            grid-row: 3/4;
            grid-column: 2/3;
        }

        &__icon {
            font-size: 2.8rem;
            transform: translateY(.6rem);
            color: $color-black;
            align-self: center;
            justify-self: center;
            grid-row: 2/3;
            grid-column: 3/4;

            &--solid{
                background-image: linear-gradient(to right, $secondary-color, $primary-color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: all .4s ease-in-out;
            }

            &:hover.fa-solid {
                animation: fadeIn .4s forwards;
                transform: scale(1.1) translateY(.6rem);
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, tablette)) {

    .navigation {
        width: 96%;

        &__list {
            flex-direction: row;
            gap: 3.6rem;
        }
    }

    .cards-list {
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
        grid-template-rows: repeat(auto-fit, minmax(34rem, 36rem));
    }
}