$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$color-black-light: rgba(32, 32, 32, 0.9);

$color-black: #000;
$color-white: #fff;
$color-box-shadow: 0 .2rem .5rem rgba(#000, .2);

$margin_5rem: .5rem;

$font-text: 'Roboto';
$font-titles: 'Shrikhand';