$primary-color: #9356DC;

$secondary-color: #FF79DA;
$secondary-color-light-2:#fdedf9;
$color-secondary-light: rgba(244, 244, 244, 0.8);

$tertiary-color: #99E2D0;

$color-black-light: rgba(32, 32, 32, 0.9);

$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: rgb(94, 89, 89);

$color-box-shadow: 0 .2rem .3rem rgba(#000, .8);

$margin_5rem: .5rem;

$font-text: 'Roboto';
$font-titles: 'Shrikhand';