//Footer
.footer {
    background-color: $color-black-light;
    color: $color-white;
    display: grid;
    grid-template-rows: repeat(7, 2rem);
    padding: map-get(map-get($footer-sizes, mobile-small), footer-padding);

    &__logo-box {
        grid-row: 1/2;
        width: map-get(map-get($footer-sizes, mobile-small), logo-box-width);
        height: map-get(map-get($footer-sizes, mobile-small), logo-box-height);
        fill: $color-white;
    }

    &__logo {
        width: map-get(map-get($footer-sizes, mobile-small), logo-width);
        height: map-get(map-get($footer-sizes, mobile-small), logo-height);
        fill: $color-white;
    }

    &__list {
        grid-row: 3/7;
        list-style: none;
    }

    &__item {
        margin-top: $margin_5rem;
        margin-bottom: .7rem;
        display: grid;
        grid-template-columns: max-content max-content;
        font-size: map-get(map-get($footer-sizes, mobile-small), item-font-size);
        align-items: center;
        justify-content: flex-start;

        &-plus-icon {
            display: grid;
            grid-template-columns: 1.8rem 1fr;
            grid-column-gap: .2rem;
            align-items: baseline;
        }

        &-icon {
            font-size: map-get(map-get($footer-sizes, mobile-small), item-icon-font-size);
    
            &--1 {
                font-size: map-get(map-get($footer-sizes, mobile-small), item-icon-font-size-1);
            }
        }
    }

    &__link {
        color: $color-white;
        text-decoration: none;
        font-size: map-get(map-get($footer-sizes, mobile-small), link-font-size);
    }
}
@media screen and (min-width: map-get(map-get($footer-sizes, mobile),resolution)) {
    .footer {
            padding: map-get(map-get($footer-sizes, mobile), footer-padding);
    
            &__logo-box {
                width: map-get(map-get($footer-sizes, mobile), logo-box-width);
                height: map-get(map-get($footer-sizes, mobile), logo-box-height);
            }
    
            &__logo {
                width: map-get(map-get($footer-sizes, mobile), logo-width);
                height: map-get(map-get($footer-sizes, mobile), logo-height);
            }
    
            &__item {
                font-size: map-get(map-get($footer-sizes, mobile), item-font-size);

                &-plus-icon {
                    grid-template-columns: 2.2rem 1fr;
                    grid-column-gap: .4rem;
                }
            }
    
            &__item-icon {
                font-size: map-get(map-get($footer-sizes, mobile), item-icon-font-size);
    
                &--1 {
                    font-size: map-get(map-get($footer-sizes, mobile), item-icon-font-size-1);
                }
            }
    
            &__link {
                font-size: map-get(map-get($footer-sizes, mobile), link-font-size);
            }
        }
}

@media screen and (min-width: map-get(map-get($footer-sizes, tablette), resolution)) {
    .footer {
        grid-template-columns: repeat(2,1fr);
        padding: map-get(map-get($footer-sizes, tablette), footer-padding);

        &__logo-box {
            grid-column: 1/2;
            width: map-get(map-get($footer-sizes, tablette), logo-box-width);
            height: map-get(map-get($footer-sizes, tablette), logo-box-height);
        }

        &__logo {
            width: map-get(map-get($footer-sizes, tablette), logo-width);
            height: map-get(map-get($footer-sizes, tablette), logo-height);
        }

        &__list {
            grid-column: 2/3;
            grid-row: 1/8;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        &__item {
            font-size: map-get(map-get($footer-sizes, tablette), item-font-size);

            &-plus-icon {
                grid-template-columns: 2.4rem 1fr;
                grid-column-gap: .6rem;
            }
        }

        &__item-icon {
            font-size: map-get(map-get($footer-sizes, tablette), item-icon-font-size);

            &--1 {
                font-size: map-get(map-get($footer-sizes, tablette), item-icon-font-size-1);
            }
        }

        &__link {
            font-size: map-get(map-get($footer-sizes, tablette), link-font-size);
        }
    }
}
@media screen and (min-width: map-get(map-get($footer-sizes, ecran), resolution)) {
    .footer {
        padding: map-get(map-get($footer-sizes, ecran), footer-padding);

        &__logo-box {
            width: map-get(map-get($footer-sizes, ecran), logo-box-width);
            height: map-get(map-get($footer-sizes, ecran), logo-box-height);
        }

        &__logo {
            width: map-get(map-get($footer-sizes, ecran), logo-width);
            height: map-get(map-get($footer-sizes, ecran), logo-height);
        }

        &__item {
            font-size: map-get(map-get($footer-sizes, ecran), item-font-size);

            &-plus-icon {
                    grid-template-columns: 2.6rem 1fr;
                    grid-column-gap: .8rem;
                }
        }

        &__item-icon {
            font-size: map-get(map-get($footer-sizes, ecran), item-icon-font-size);

            &--1 {
                font-size: map-get(map-get($footer-sizes, ecran), item-icon-font-size-1);
            }
        }

        &__link {
            font-size: map-get(map-get($footer-sizes, ecran), link-font-size);
        }
    }
}
@media screen and (min-width: map-get(map-get($footer-sizes, ecran-xxl), resolution)) {
    .footer {
        padding: map-get(map-get($footer-sizes, ecran-xxl), footer-padding);

        &__logo-box {
            width: map-get(map-get($footer-sizes, ecran-xxl), logo-box-width);
            height: map-get(map-get($footer-sizes, ecran-xxl), logo-box-height);
        }

        &__logo {
            width: map-get(map-get($footer-sizes, ecran-xxl), logo-width);
            height: map-get(map-get($footer-sizes, ecran-xxl), logo-height);
        }

        &__item {
            font-size: map-get(map-get($footer-sizes, ecran-xxl), item-font-size);
        }

        &__item-icon {
            font-size: map-get(map-get($footer-sizes, ecran-xxl), item-icon-font-size);

            &--1 {
                font-size: map-get(map-get($footer-sizes, ecran-xxl), item-icon-font-size-1);
            }
        }

        &__link {
            font-size: map-get(map-get($footer-sizes, ecran-xxl), link-font-size);
        }
    }
}
