.header {
    width: 100%;
    height: map-get(map-get($header-sizes, mobile), height);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $color-box-shadow;
    z-index: 100;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -.6rem;

    &__img {
        width: map-get(map-get($header-sizes, mobile), img-width);
        height: map-get(map-get($header-sizes, mobile), img-height);
    }
}

.btn-back {
    position: absolute;
    left: 2.5vw;
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: $color-white;
    margin-bottom: -.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    &__icon {
        color: $color-black;
        font-size: 1.6rem;
    }
}
@media screen and (min-width: map-get($breakpoints, mobile)) {
    .header {
            height: map-get(map-get($header-sizes, tablette), height);
        }
    
        .logo {  
            &__img {
                width: map-get(map-get($header-sizes, tablette), img-width);
                height: map-get(map-get($header-sizes, tablette), img-height);
            }
        }
}
@media screen and (min-width: map-get($breakpoints, tablette)) {
    .header {
            height: map-get(map-get($header-sizes, ecran), height);
        }
    
        .logo {
            &__img {
                width: map-get(map-get($header-sizes, ecran), img-width);
                height: map-get(map-get($header-sizes, ecran), img-height);
            }
        }
}
@media screen and (min-width: map-get($breakpoints, ecran)) {
    .header {
            height: map-get(map-get($header-sizes, ecran-xxl), height);
        }
    
        .logo {
            &__img {
                width: map-get(map-get($header-sizes, ecran-xxl), img-width);
                height: map-get(map-get($header-sizes, ecran-xxl), img-height);
            }
        }
}
